body {
    font-family: 'Rubik', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    direction: rtl;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Add this line */
}

#copyrights {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    text-align: center;
}

button {
    font-family: 'Rubik', sans-serif;
    padding: 10px 20px;
    margin: 10px 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button.save-changes-btn {
    background-color: #dc3545;
    display: block;
    width: 100%;
    margin-top: 20px;
}

button:disabled, .disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button#accepted-btn {
    background-color: #ff009d;
}

.company {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.company.disabled {
    opacity: 0.5;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.close-btn, .close-next-step-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover, .close-next-step-btn:hover,
.close-btn:focus, .close-next-step-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form label {
    font-family: 'Rubik', sans-serif;
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea, form button {
    font-family: 'Rubik', sans-serif;
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button#save-changes-btn {
    background-color: #DF5A49;
    display: block;
    width: 100%;
    margin-top: 20px;
}

button#load-json-btn {
    background-color: #EFC94C;
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.blocked {
    opacity: 0.6;
    background-color: #f0f0f0;
    text-decoration: line-through;
}

.confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #f2a365;
    opacity: 0.7;
    animation: fall linear infinite;
}

@keyframes fall {
    0% { transform: translateY(0); }
    100% { transform: translateY(100vh); }
}

.social-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.social-icon {
    font-size: 24px;
    color: #000; /* Adjust color as needed */
    text-decoration: none;
}

.social-icon:hover {
    color: #0077b5; /* Adjust hover color as needed */
}

.social-icon svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
}

.bar-graph-container {
    display: flex;
    margin-top: -8px;
    width: 72%;
    flex-wrap: revert;
    align-content: flex-start;
    justify-content: flex-end;
    align-items: center;
}

#bar-graph {
    display: flex;
    width: 85%;
    max-width: 800px;
    height: 34px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
    position: relative;
}

.bar-segment {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#relevant-bar {
    background-color: #45B29D;
}

#non-relevant-bar {
    background-color: #334D5C;
}

.bar-percentage {
    color: white;
    font-weight: bold;
    position: absolute;
    width: 100%;
    text-align: center;
}

div#buttonBar {
    display: flex;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

#login-form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#login-form label {
    display: block;
    margin-bottom: 8px;
}

#login-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

#login-form button:hover {
    background-color: #0056b3;
}
